img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
}
h1 {
	font-family: monospace;
	color: rgba(0, 0, 0, 0.5);
	font-style: bold;
	font-weight:500;
	text-align: center;
}
h2 {
	font-family: monospace;
	color: rgba(7, 138, 7, 0.71);
	font-style: !important;
	font-weight:100;
	text-align: center;
}